---
import BaseLayout from "./base-layout.astro";
import GoBack from "@/components/go-back.astro";
const { pageTitle = "demo", frontmatter = {} } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="markdown-post-layout">
    <GoBack />
    <div class="markdown-content">
      <ul>
        {frontmatter.title ? <li>markdown title {frontmatter.title}</li> : null}
        {
          frontmatter.pubDate ? (
            <li>markdown pubDate {frontmatter.pubDate}</li>
          ) : null
        }
        {
          frontmatter.description ? (
            <li>markdown description {frontmatter.titdescriptionle}</li>
          ) : null
        }
        {
          frontmatter.author ? (
            <li>markdown author {frontmatter.author}</li>
          ) : null
        }
        {
          frontmatter.tags ? (
            <li>markdown tags {frontmatter.tags.join("  ")}</li>
          ) : null
        }
        {
          frontmatter.image ? (
            <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
          ) : null
        }
      </ul>
      <slot />
    </div>
  </div>
</BaseLayout>

<style>
  .markdown-post-layout {
    width: 100%;
  }

  .markdown-content {
    height: calc(100vh - 210px);
    max-width: 1780px;
    margin: 0 auto;
    overflow: hidden auto;
  }
</style>
